<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

<style>
  html,
  body {
    font-family: "Poppins", sans-serif;
    font-size-adjust: 0.45;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }

  nav {
    background-color: #fff !important;
    top: 0;
    height: 12vh;
  }

  .navbar-nav a.nav-item {
    transition: all 0.1s ease-in-out;
    color: #666 !important;
    font-size: 16px;
    font-size-adjust: 0.53;
  }

  .navbar-expand-lg {
    box-sizing: border-box;
    box-shadow: 0 2px 9px #ccc;
  }

  .navbar-expand-lg {
    box-sizing: border-box;
    box-shadow: 0 2px 9px #ccc;
  }

  .logo {
    width: 4vw;
    margin-left: 15px;
    margin-top: -5px;
  }

  .brand-name {
    font-size: 1.2rem;
    font-size-adjust: 0.5;
    margin: auto 1rem;
    color: rgb(0, 155, 255);
  }

  .vertical-line {
    border-left: 2px solid rgba(255, 174, 25, 0.3);
    margin: 1.1rem 0 1.1rem 0.8rem;
  }

  .college-brand {
    display: flex;
  }

  a.nav-item.active_nav_link {
    color: #000 !important;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
  }

  .weight {
    font-weight: 600;
    color: #007bff;
  }

  .brd {
    color: #aaa;
    font-size: 1.1rem;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    margin-right: 20px;
  }
  @media only screen and (max-width: 1500px){
    .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.nav-link {
    margin-right: 10px;
}
  }

  @media only screen and (max-width: 1300px) {
    .navbar-nav a.nav-item {
    font-size: 14px;
}
  }
  @media only screen and (max-width: 1200px) {
    nav {
      height: auto;
    }

    .nav-link {
      margin-left: auto;
      margin-right: auto;
    }

    .vertical-line {
      margin: 0.8rem 0 0.8rem 0.4rem;
    }

    .logo {
      margin: 0 0 0;
      width: 54px;
    }

    .college-brand {
      width: 75%;
    }

    .brand-name {
      font-size: 0.85rem;
      width: 53%;
    }

    .brd {
      color: #aaa;
      font-size: 0.69rem;
    }
  }
</style>

<script>
  function ready(callback) {
    // in case the document is already rendered
    if (document.readyState != "loading") callback();
    // modern browsers
    else if (document.addEventListener)
      document.addEventListener("DOMContentLoaded", callback);
    // IE <= 8
    else
      document.attachEvent("onreadystatechange", function () {
        if (document.readyState == "complete") callback();
      });
  }

  ready(() => {
    let path = window.location.pathname;
    let nav_selector;

    switch (path) {
      case "/":
        nav_selector = "a.nav-item:nth-child(1)";
        break;
      case "/about":
        nav_selector = "a.nav-item:nth-child(2)";
        break;
      case "/whycet":
        nav_selector = "a.nav-item:nth-child(3)";
        break;
      case "/placement":
        nav_selector = "a.nav-item:nth-child(4)";
        break;
      case "//pdf/Brochure.pdf":
        nav_selector = "a.nav-item:nth-child(5)";
        break;
      case "/team":
        nav_selector = "a.nav-item:nth-child(6)";
        break;
      case "/contact":
        nav_selector = "a.nav-item:nth-child(7)";
        break;
    }

    console.log($(nav_selector).addClass("active_nav_link"));
  });
</script>
<nav class="navbar sticky-top navbar-expand-xl navbar-light">
  <span class="college-brand">
    <p class="brand-name">
      <a href="/"><span class="brd">Training and Placement Cell</span><br /></a>
      <a href="https://cet.edu.in"><span class="weight">
        Odisha University of Technology and Research
      </span></a>
    </p>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-uppercase" href="/">Home</a>
      <a class="nav-item nav-link active text-uppercase" href="/about">About Us</a>
      <a class="nav-item nav-link active text-uppercase" href="/whycet">Why OUTR</a>
      <a class="nav-item nav-link active text-uppercase" href="/placement">Placements</a>
      <a class="nav-item nav-link text-uppercase" href="/brochure"
        title="Placement Brochure">Brochure</a>
      <a class="nav-item nav-link active text-uppercase" href="/team">Our Team</a>
      <a class="nav-item nav-link active text-uppercase" href="/contact">Contact Us</a>
    </div>
  </div>
</nav>