<style>
    .carousel-control-prev {
        width: 0%;
        left: -20px;
    }

    .carousel-control-next {
        right: -20px;
        width: 0%;
    }

    .card {
        box-shadow: 2px 5px 9px #ccc;
    }

    .col-md-2 {
        max-width: 20%;
    }

    a:not([href]) {
        color: white;
    }

    .mobile {
        display: none;
    }

    .card-img-top {
        height: 27vh;
    }

    .card-text {
        text-align: center;
        font-size:0.77rem;
        margin-bottom: 1.2rem;
        color: red;
        font-weight: bolder;
    }

    @media (max-width: 800px) {
        a:not([href]) {
            color: white;
        }

        .card-text {
            font-size: 5vw;
        }

        .desktop {
            display: none;
        }

        .mobile {
            display: block;
        }
    }
</style>

<div class="container-fluid" style="margin-right: 9em;">
    <center>
        <h1 style="color: #666;font-weight: bold;">Recent Achievements</h1>
    </center>
    <br>
    <!--Carousel Wrapper-->

    <div id="multi-item-example" class="carousel slide carousel-multi-item desktop" data-ride="carousel" data-interval="3000" >    

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">


                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Google Summer of Code </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter01">
                                    Know More</a></center>
                        </div>
                    </div>
                </div>


                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Microsoft Intern </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter02">
                                    Know
                                    More</a></center>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/hackerthon/SIH.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Smart India Hackerthon</p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter03">
                                    Know More</a></center>
                        </div>
                    </div>
                </div>


                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/hackerthon/SOH.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Smart Odisha Hackerthon</p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter04">
                                    Know More</a></center>
                        </div>
                    </div>
                </div>

           


                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/7.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">TechnoUtsav 2.0 </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter05">
                                    Know More</a></center>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">

                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/9.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">MechAura Finalist </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter06">
                                    Know
                                    More</a></center>
                        </div>
                    </div>
                </div>

                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="font-size: .9vw;margin-bottom: 1.5rem;">Women of
                                Mettle
                                Challenge
                            </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter07">
                                    Know
                                    More</a></center>
                        </div>
                    </div>
                </div>

             
                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Anveshan 2020 Finalist </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter08">
                                    Know
                                    More</a></center>
                        </div>
                    </div>
                </div>

                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">CAT & XAT </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter09">
                                    Know
                                    More</a></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="float:left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="/images/5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">IEEE </p>
                            <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter10">
                                    Know
                                    More</a></center>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Second slide-->



        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"
                style="color: #00f;"></i></a>
        <a class="carousel-control-next" href="#multi-item-example" data-slide="next" style="float: right;"><i
                class="fas fa-chevron-right" style="color: #00f;"></i></a>    

    </div>
    <!--/.Carousel Wrapper-->
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item mobile" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
       
        <div class="carousel-item active">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 17px;margin-bottom: 19px;">Google Summer of Code </p>
                        <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter01"> Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Microsoft Intern</p>
                        <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter02"> Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/hackerthon/SIH.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Smart India Hackerthon</p>
                        <center> <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter03">
                                Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/hackerthon/SOH.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Smart Odisha Hackerthon</p>
                        <center> <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter04">
                                Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">TechnoUtsav 2.0</p>
                        <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter05"> Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>


        





        <!--/.First slide-->

        <!--Second slide-->
       
        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">MechAura Finalist </p>
                        <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter06"> Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Women Of Mettle Challenge </p>
                        <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter07"> Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Anveshan 2020 Finalist </p>
                        <center> <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter08">
                                Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">CAT & XAT </p>
                        <center><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter09"> Know
                                More</a></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="/images/5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">IEEE </p>
                        <center> <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter10">
                                Know
                                More</a></center>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.Second slide-->
</div>
<!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->


<!-- Modal -->

<div class="modal fade" id="exampleModalCenter01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/1.jpg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    One student of our college has been selected for Google Summer of Code 2022. Three students were also chosen for the Google Summer of Code 2020.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter02" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/3.jpg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    One of our pre-final year students received a summer internship offer from Microsoft (2020
                    summer).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/hackerthon/SIH.jpeg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    <!-- With awe-inspiring skills in Robotics and Coding, one of our students, Jiban Jyoti Panda was amongst
                    the top 5 diversity scholars selected from India for ROSCON’19 held in Macau, China. -->
                    A team of six students from OUTR that became the Winner in the Grand Finale round of Smart India Hackerthon 2022.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter04" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/hackerthon/SOH.jpeg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    One of the teams from OUTR that became the winner of Smart Odisha Hackerthon 2022.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter05" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/7.jpg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    Three students from our college received PPO from Deloitte USI for their exemplary performance
                    in the national finals of TechnoUtsav 2.0, an annual national-level hackathon conducted by the
                    organization.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter06" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/9.jpg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    An ingenious student from CET was adjudged as the National Winner among all 21 finalists in the
                    MechAura competition, conducted by Collins Aerospace, securing a PPO.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModalCenter07" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/2.jpg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    Students were awarded PPO through Women Of Mettle Challenge (TATA Steel) and out of 11 winners
                    from all over India 4 of them were CETians.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter08" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/11.jpg" alt="" class="img-thumbnail">
                </div>
                <br>
                <p style="text-align: center;font-size: .95em;">
                    A team of five students from CET has been selected into the final round of Anveshan 2020, the
                    fellowship program by Analog Devices.
                </p>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModalCenter09" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <img src="/images/4.jpg" alt="" class="img-thumbnail">
                </div>

                <br>
                <p style="text-align: center;font-size: .95em;">
                    Two of our students got 99+ percentiles in CAT & XAT entrance examinations (Sambit Sudhansu
                    Padhiari: CAT - 99.80, Satyajit Mohanty: CAT - 99.31, XAT - 99.13).
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-fluid">
                    <center> <img src="/images/5.jpg" alt="" class="img-thumbnail"></center>
                </div>
                <br>
                <p style="text-align: center">
                    Two IEEE Conference Papers by Ms. Satabdi Bastia, Mr. Sarthak Swaroop Dash, and Ms. Priyanka
                    Sahu have been accepted by IEEE and is in the process of being published.
                </p>
            </div>
        </div>
    </div>
</div>