<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
       <title>Contact Us</title>
    <style>
        legend {
            margin-top: 30px;
        }
        .one {
            font-size: 1.4em;
            font-weight: bold;
        }
        .two {
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <%- include('navbar') %>

    <div class="container">

    <legend><center><h1><b>Training & Placement Cell</b></h1><br></center></legend><br>

        <div class="row">
            <div class="col-md-4">
                <h4>Dr. S.K. Pradhan</h4><hr>
                <p>Prof-in-charge, T&P Cell</p>
                <p>Ph. No: +91 9437157631</p>
                <p>e-mail: skpradhan@cet.edu.in</p>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <h4>Dr. B.P. Dash</h4><hr>
                <p>Member, T&P Cell, HOD Textile Engineering</p>
                <p>Ph. No: +91 9437385554</p>
                <p>e-mail: bpdash@cet.edu.in</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h4>Prof. Samrjit Patnaik</h4><hr>
                <p>Deputy Training and Placement Officer, T&P Cell</p>
                <p>Ph. No: +91 9438488168</p>
                <p>e-mail: patnaik.samarjit@cet.edu.in</p>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <h4>Prof. Santanu Sen</h4><hr>
                <p>Internship Coordinator, T&P Cell</p>
                <p>Ph. No: +91 9692362384</p>
                <p>e-mail: sen.santanu072@gmail.com</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <span class="one"> Visit us at :</span><span class="two">  www.cet.edu.in</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <span class="one">Mail us at :</span>
                <span class="two"> placement@cet.edu.in</span>
            </div>
        </div>
    </div>    
</body>
</html>
