<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
       <title>Contact Us</title>
    <style>
        legend {
            margin-top: 30px;
        }
        .one {
            font-size: 1.4em;
            font-weight: bold;
        }
        .two {
            font-size: 1.1em;
        }
        @media (max-width: 800px) {
            .last {
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <%- include('navbar') %>

    <div class="container">

    <legend><center><h1><b>Training & Placement Cell</b></h1><br></center></legend><br>
        <center>
        <div class="row">
            <div class="col-md-4">
                <h4>Dr. S.K. Pradhan</h4><hr>
                <p>Prof-in-charge, T&P Cell</p>
                <p>Ph. No: +91 9437157631</p>
                <p>e-mail: skpradhan@cet.edu.in</p>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <h4>Dr. B.P. Dash</h4><hr>
                <p>Member, T&P Cell, HOD Textile Engineering</p>
                <p>Ph. No: +91 9437385554</p>
                <p>e-mail: bpdash@cet.edu.in</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h4>Prof. Samarjit Patnaik</h4><hr>
                <p>Deputy Training and Placement Officer, T&P Cell</p>
                <p>Ph. No: +91 9438488168</p>
                <p>e-mail: patnaik.samarjit@cet.edu.in</p>
            </div>
            <div class="col-md-4"> </div>
            <div class="col-md-4">
                <h4>Prof. Santanu Sen</h4><hr>
                <p>Internship Coordinator, T&P Cell</p>
                <p>Ph. No: +91 9692362384</p>
                <p>e-mail: sen.santanu072@gmail.com</p>
            </div>
        </div>
        <br><br>
    </center>
        <div class="last">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <span class="one"> Visit us at :</span><span class="two">  www.cet.edu.in</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <span class="one">Mail us at :</span>
                <span class="two"> placement@cet.edu.in</span>
            </div>
        </div>
        </div>
    </div>    
    <%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
