<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Reset Password</title>
</head>
<body>
    <section>
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="/images/logo.jpeg" alt="" /></div>
          <div class="formBx">
            <form action="/forgotpassword" method="POST">
              <h2>Reset Password</h2>
              <input type="text" name="username" placeholder="Registration Number" required />
              <input type="text" name="email" placeholder="Email Id" required />
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="/javascripts/jquery.min.js"></script>
    <!-- <script src="/javascripts/popper.min.js"></script> -->
    <script src="/javascripts/bootstrap-material-design.min.js"></script>
    <script src="/javascripts/bootstrap-notify.js"></script>
    <script src="/javascripts/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    
  </body>
</html>