<center><h1><b>Students Activities</b></h1></center>  <hr>

<style>
    .sec-4 {
        height: auto;
    }
    .sml {
        width: 150px;
    }
    @media (max-width: 800px) {
        .nodis {
            display: none;
        }
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="row"><div class="col-md-4"></div>
                <div class="col-md-5 col-sm-8 col-8">
                    <h5>ZAIRZA</h5>
                    <p>Established in 2007, it is the technical club promoting Robotics and Software</p>
                </div>
                <div class="img-fluid col-md-3 col-sm-4 col-4">
                    <img src="images/zairza.png" alt="" class="img-thumbnail">
                </div>
            </div><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row"><div class="col-md-4"></div>
                <div class="col-md-5 col-sm-8 col-8">
                    <h5>E-CELL</h5>
                    <p>Established in 2012 to rekindle the spirit of Entrepreneurship.</p>
                </div>
                <div class="img-fluid col-md-3 col-sm-4 col-4">
                    <img src="images/ed.png" alt="" class="img-thumbnail">
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-md-5 col-sm-8 col-8">    
                    <h5>CETADEL</h5>
                    <p>Established in 2015 to motivate the literary prowess of future technocrats.</p>
                </div>
                <div class="img-fluid col-md-3 col-sm-4 col-4">
                    <img src="images/ceta.png" alt="" class="img-thumbnail">
                </div>
            </div><br><br>
        </div>
        <div class="col-md-4">
            <div class="img-fluid nodis">
                <img src="images/centre.png" alt="" class="img-thumbnail">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-5 col-sm-8 col-8">
                    <h5>ENERGY CLUB</h5>
                    <p>Established in 2011 promotes green energy and projects for sustainable development.</p>
                </div>
                <div class="img-fluid col-md-3 col-sm-4 col-4">
                    <img src="images/energy.png" alt="" class="img-thumbnail">
                </div>
            </div><br><br>
            <div class="row"><div class="col-md-4"></div>
                <div class="col-md-5 col-sm-8 col-8">    
                    <h5>SPECTRUM</h5>
                    <p>Established in 2014, deals with electronic projects and instrumentation conversions</p>
                </div>
                <div class="img-fluid col-md-3 col-sm-4 col-4">
                    <img src="images/spectrum.png" alt="" class="img-thumbnail">
                </div>
            </div><br><br>
        </div>
    </div>
</div>