
<style>
  .sec-5 {
      height: auto;
      padding: 30px;
      background: #fff; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
      /* background: linear-gradient(to right, #FFFFFF, #ECE9E6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .img-thumbnail{
    border:none;
  }
  @media (max-width: 800px) {
    .break {
      margin-top: 10px;
    }
    .smll {
      font-size: 0.87em;
    }
  }
</style>
<center><h1><b>DEVELOPMENT PROGRAMS & FACILITIES</b></h1></center>  <hr>

    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <div class="img-fluid">
              <img src="/images/stud.png" class="img-thumbnail">
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <br>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/121.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <h5 class="smll">Classroom teaching by highly qualified teachers</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/122.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <h5 class="smll">Industrial lectures by experienced professionals and industrial visits</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/123.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <h5 class="smll">Presentation and personal development activities</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/124.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <h5 class="smll">CTTC collaboration for technical training and projects, with hi-tech labs</h5>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/125.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <h5 class="smll">Round the clock high speed Wi-Fi access and advanced computer labs for greater digital connectivity</h5>
              </div>
            </div>
          </div>
      </div>
    </div>