

<style>
    .sec-2 {
    /* background-image: url("images/CETB_Main_Office_Building_View.jpg"); */
    /* filter: blur(8px); */
    background:rgba(255,255,255, 0.9);
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 10px;
    margin-top: 60px;
}


.sec-2 .container {
    /* background-color: #7AE3D9; */
    /* background-image: url(images/CETB_Main_Office_Building_View.jpg); */
    background-color: rgba(255,255,255,0.79);
    background-blend-mode: lighten;
    padding: 30px;
    box-shadow: 5px 4px 10px #000;
    border-radius: 3px;    
}

.sec-2__p {
    width: 75%; 
    text-align: justify; 
    margin: 0 auto;
    color: #000;
}
.principal-img{
    height: auto;
    width: 15rem;
}
.principal-msg{
    text-align: justify;
    word-spacing: -3px;
    font-size :20px;
    margin-right: 20px;
}
@media only screen and (max-width: 768px) {
    .sec-2__p {
        width: 100%;
    }
}
  
</style>
<div class="container">
    <center><h1><b>Principal's Desk</b></h1><h4>Prof. (Dr.) P.K. Patra</h4></center>  <hr>
  <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        <img src="/images/principal.png" class="img-fluid  principal-img mx-auto d-block">
    </div>
    <div class="col-md-8">
        <p class="principal-msg">
          On behalf of College of Engineering and Technology, Bhubaneswar, it is my pleasure to welcome you all to this beautiful campus. This institute has been known for its technical excellence for more than three decades, and we strive hard to keep up the tradition. It is in fact a matter of great pride for me to state that CET has a brand name in the field of technical education and that the college attracts the best talented students through the JEE conducted by the Government of India and this institute is the first choice out of all colleges of Odisha, be it Engineering, Archi­tecture or MCA. The qualities and skills that the students imbibe here empower them to work in a global environment. Whether you have regularly recruited our graduates and postgraduates or you are visiting us a for the first time, I am sure you will find our students very competent and you will like to visit us again, year after year. We look forward to a warm and enduring relation­ship. 
          </p>
        </div>
  </div>
 
</div>