<style>
  .navbar-nav a.nav-item {
      transition: all 0.1s ease-in-out;
      color: #000 !important;
   
  }
  .logo{
    width: auto;
     margin-left:30px ;
     height: 70px;
  }
 .brand-name{
 font-size:1.2rem;
 margin: .5rem 1rem;
 color:#7D4AE6;
 }
 .vertical-line {
  border-left: 2px solid #ff0000;
  margin-left: .8rem;
}
 .college-brand {
   display:flex;
 }
  a.nav-item.active_nav_link {
      color: #000 !important;
      font-weight: 700;
      padding-left: 25px;
      padding-right: 25px;
  }
  /* body {
      padding-top: 90px;
  } */
  .navbar-nav{
   margin-left:auto;
  }
  .nav-link{
    margin-right: 20px;
  }
  @media only screen and (max-width: 768px){
    .nav-link{
      margin-left:auto;
      margin-right: auto;
    }
 .logo{
   height: 60px;
   margin-left: 0;
 }
 .brand-name{
   font-size:.69rem;
   width: 50%;
 }
  }
</style>

<script>
function ready(callback){
    // in case the document is already rendered
    if (document.readyState!='loading') callback();
    // modern browsers
    else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
    // IE <= 8
    else document.attachEvent('onreadystatechange', function(){
        if (document.readyState=='complete') callback();
    });
}

ready(() => {
  let path = window.location.pathname;
  let nav_selector;

  switch(path) {
    case '/': 
      nav_selector = 'a.nav-item:nth-child(1)'
      break;
    case '/about': 
      nav_selector = 'a.nav-item:nth-child(2)'
      break;
    case '/whycet': 
      nav_selector = 'a.nav-item:nth-child(3)'
      break;
    case '/placement': 
      nav_selector = 'a.nav-item:nth-child(4)'
      break;
    case '/team': 
      nav_selector = 'a.nav-item:nth-child(5)'
      break;
    case '/register': 
      nav_selector = 'a.nav-item:nth-child(6)'
      break;
    case '/contact': 
      nav_selector = 'a.nav-item:nth-child(7)'
      break;
  }

  console.log($(nav_selector).addClass("active_nav_link"));
  
})
</script>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark" style="background-color: #fff !important ;top: 0;">
  <span class="college-brand">
      <a href="https://cet.edu.in"><img src="images/cet.png" class="logo"></a><div class="vertical-line"></div><p class="brand-name">Welcome to<br> College of Engineering and Technology</p>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-uppercase " href="/">Home</a>
      <a class="nav-item nav-link active text-uppercase" href="/about">About Us</a>
      <a class="nav-item nav-link active text-uppercase" href="/whycet">Why CET</a>
      <a class="nav-item nav-link active text-uppercase" href="/placement">Placements</a>
      <a class="nav-item nav-link active text-uppercase" href="/team">Our Team</a>
      <a class="nav-item nav-link active text-uppercase" href="/register">Register</a>
      <a class="nav-item nav-link active text-uppercase" href="/contact">Contact Us</a>
    </div>
  </div>
</nav>