<style>
  .navbar-nav a.nav-item {
      transition: all 0.1s ease-in-out;
      color: #000 !important;
  }
  /* .navbar-nav:hover a.nav-item {
      padding-left: 10px;
      padding-right: 10px;
  } */
  .navbar-nav:hover a.nav-item:hover {
      color: #000 !important;
      font-weight: 700;
      padding-left: 25px;
      padding-right: 25px;
  }
  /* body {
      padding-top: 90px;
  } */

  @media only screen and (max-width: 768px){
    .nav-link{
      margin-left:auto;
    }
  }
</style>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark" style="background-color: #fff !important ;top: 0;">
  <span class="">
      <a href="https://cet.edu.in"><img src="images/cet.png" style="width: 32px;"></a>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link active " href="/">Home</a>
      <a class="nav-item nav-link active" href="/about">About Us</a>
      <a class="nav-item nav-link active" href="/whycet">Why CET</a>
      <a class="nav-item nav-link active" href="/placement">Placements</a>
      <a class="nav-item nav-link active" href="/register">Register</a>
      <a class="nav-item nav-link active" href="/contact">Contact Us</a>
    </div>
  </div>
</nav>