<!DOCTYPE html>
<html>
<head>
<!-- Load the Paper.js library -->
<script type="text/javascript" src="javascripts/paper-full.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
</head>
<body>
    <canvas id="myCanvas" width="1400px" height="650px"></canvas>
    <script type="text/paperscript" canvas="myCanvas">
        var width, height, center;
            var points = 10;
            var smooth = true;
            var path = new Path();
            var mousePos = view.center / 2;
            var pathHeight = mousePos.y;
            path.fillColor = 'grey';
            initializePath();
    
            function initializePath() {
                center = view.center;
                width = view.size.width;
                height = view.size.height / 2;
                path.segments = [];
                path.add(view.bounds.bottomLeft);
                for (var i = 1; i < points; i++) {
                    var point = new Point(width / points * i, center.y);
                    path.add(point);
                }
                path.add(view.bounds.bottomRight);
                path.fullySelected = true;
            }
    
            function onFrame(event) {
                pathHeight += (center.y - mousePos.y - pathHeight) / 10;
                for (var i = 1; i < points; i++) {
                    var sinSeed = event.count + (i + i % 10) * 100;
                    var sinHeight = Math.sin(sinSeed / 200) * pathHeight;
                    var yPos = Math.sin(sinSeed / 100) * sinHeight + height;
                    path.segments[i].point.y = yPos;
                }
                if (smooth)
                    path.smooth({ type: 'continuous' });
            }
    
            function onMouseMove(event) {
                mousePos = event.point;
            }
    
            function onMouseDown(event) {
                smooth = !smooth;
                if (!smooth) {
                    
                    for (var i = 0, l = path.segments.length; i < l; i++) {
                        var segment = path.segments[i];
                        segment.handleIn = segment.handleOut = null;
                    }
                }
            }
    
            function onResize(event) {
                initializePath();
            }
    </script>
</body>
</html>