<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <script src="https://d3js.org/d3.v4.js"></script>
    <title>Placement</title>
    <style>
        .sec-3 {
            height: auto;
        }
        .lgb {
            width: 70px;
        }
        @media (max-width: 800px) {
            .main_sec {
                height: auto;
            }
            .chart-container-0 {
                display: none;
            }
            .chart-container-1 {
                display: none;
            }
        }
    </style>
</head>
<body>

    <%- include('navbar') %>

        <div class="main_sec sec-3">
            <div class="container">
                <center><h1>Placement Statistics</h1></center>  <hr><br>
                <div class="row"><div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="chart-container-0">
                            <div class="pie-chart-container">
                                <canvas id="pie-chartcanvas-1"></canvas>
                            </div>  
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart-container-1">
                            <div class="pie-chart-container">
                                <canvas id="pie-chartcanvas-2"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart-container">
                            <div class="pie-chart-container">
                                <canvas id="pie-chartcanvas-3"></canvas>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
        </div>

        <div class="main_sec sec-2" style="margin-top: 50px;">
            <div class="container">
                <%- include('recruiters') %>
            </div>
        </div>

        <!-- <div class="main_sec sec-4">

            <div class="container">
            <center><h1>Placement Guide</h1></center>  <hr>
                <div class="row">
                    <ul style="list-style: none;">
                        <h5>A job offer must specify:</h5>
                        <li><h5>Position offered</h5></li>
                        <li><h5>Remuneration</h5></li>
                        <li><h5>Job description</h5></li>
                    </ul>
                </div>
                <div class="row">
                    <ul>
                        <h5>The representatives of the organisation should have the authority to make the final job offers immediately after the interviews.</h5>
                    </ul>
                </div>
                <div class="row">
                    <ul>
                        <h5>The Institute is well equipped to carry out multiple Placement Drives, provide any logistical requirements and host the representatives of the participating organisations.</h5>
                    </ul>
                </div>
                <div class="row">
                    <ul>
                        <h5>The Placement Committee will be glad to arrange for the stay of the representatives at hotels in the city.</h5>
                    </ul>
                </div>
            </div>
        </div> -->

        <%- include('footer') %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="javascripts/chart.js"></script>

</body>
</html>