<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <script src="https://d3js.org/d3.v4.js"></script>
    <title>Placement</title>
    <style>
        .lgb {
            width: 70px;
        }
        @media (max-width: 800px) {
            .main_sec {
                height: auto;
            }
        }
    </style>
</head>
<body>

    <%- include('navbar') %>
    
        <div class="main_sec">  
            <div class="container">
                <center><h1><b>Why Recruit Us</b></h1></center>  <hr>
            <h5>The institute goes by the saying, "It is the spirit within you which persuades you to challenge your limitations, to discover the undiscovered and subvert the paradigm".</h5><br>
            <h5> It has been 37 years, (3rd oldest institute of Odisha) since the establishment of CET and it is this spirit of the institute that Cetitans imbibe and carry froward wherever they go.</h5><br>
            <h5>CET-B has made it a legacy to set new benchmarks in technical education, since its inception in 1981.</h5><br>
            <h5> It deeply inculcates the zeal in students, to turn odds into favour and strive to reach a notch higher in each of their endeavours.</h5><br>
            <h5>Over 3 lacs state students appear for JEE Mains out of which only the meritorious few of Odisha and India pursue their graduation in the premier college of Odisha Government, CET-B. </h5>
            </div>          
        </div>
        <div class="main_sec sec-2">
            <div class="container">
                <%- include('homesec3') %>
            </div>
        </div>
          
        <div class="main_sec sec-3">
            <div class="container">
                <center><h1><b>Placement Statistics</b></h1></center>  <hr>
            </div>
        </div>

        <div class="main_sec sec-4">
            <div class="container">
            <center><h1><b>Placement Guide</b></h1></center>  <hr>
                <div class="row">
                    <ul style="list-style: none;">
                        <h5>A job offer must specify:</h5>
                        <li><h5>Position offered</h5></li>
                        <li><h5>Remuneration</h5></li>
                        <li><h5>Job description</h5></li>
                    </ul>
                </div>
                <div class="row">
                    <ul>
                        <h5>The representatives of the organisation should have the authority to make the final job offers immediately after the interviews.</h5>
                    </ul>
                </div>
                <div class="row">
                    <ul>
                        <h5>The Institute is well equipped to carry out multiple Placement Drives, provide any logistical requirements and host the representatives of the participating organisations.</h5>
                    </ul>
                </div>
                <div class="row">
                    <ul>
                        <h5>The Placement Committee will be glad to arrange for the stay of the representatives at hotels in the city.</h5>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main_sec sec-5">
            <center><h1><b>Notable Alumni</b></h1></center>  <hr>

        </div>

    <%- include('footer') %>
</body>
</html>