<style>
  .img-thumbnail {
    border: none;
  }
  .bre {
    margin-top: 12px;
  }
    .sec-2 {
    height:auto;
}
@media (max-width: 800px) {
  .break {
    margin-bottom: 18px;
  }
  .bre {
    margin-top: 5px;
  }
}
</style>
<center><h1><b>Our Recruiters</b></h1></center>  <hr>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F533835%2Fctsh-logo.png&w=1200&h=630&op=resize" alt="" class="img-thumbnail bre">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="images/Wipro-Logo.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4 break">
      <div class="img-fluid">
        <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2016-08/01/full/1470061242-8539.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2019-02/18/full/1550484713-313.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://cdn.vox-cdn.com/thumbor/0pAzN6LdawcEO1pxZXy-78_VgVU=/7x0:633x417/1400x1050/filters:focal(7x0:633x417):format(jpeg)/cdn.vox-cdn.com/assets/1311169/mslogo.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://1000logos.net/wp-content/uploads/2016/10/Accenture-logo.png" alt="" class="img-thumbnail bre">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://www.ibm.com/innovate/branding/logoartwork/logoartwork.nsf/IBM_logo_pos_CMYK.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://allvectorlogo.com/img/2017/02/tata-consultancy-services-tcs-logo.png" alt="" class="img-thumbnail bre">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4 break">
      <div class="img-fluid">
        <img src="https://www.logolynx.com/images/logolynx/66/661426a09ecb4c215e18fbf5e05b7032.jpeg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://www.freepnglogos.com/uploads/amazon-png-logo-vector/amazon-png-logo-vector-1.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://static.wixstatic.com/media/b797c9_9ec65da102904b02ad3e7b111a7081e0~mv2.png/v1/fill/w_275,h_183,al_c,q_90/file.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://bloncampus.thehindubusinessline.com/migration_catalog/article24153201.ece/alternates/FREE_435/Vedantargb" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-4 break">
      <div class="img-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1280px-Intel-logo.svg.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Godrej_Logo.svg/1200px-Godrej_Logo.svg.png" alt="" class="img-thumbnail bre">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="images/Arvind.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://1.bp.blogspot.com/-dOYokO7qAbw/UGt0IgKL5FI/AAAAAAAANrc/3b1aoHBMvAA/s1600/Asian+Paints+logo+2012.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://couravel.com/wp-content/uploads/2017/09/tata-steel-logo.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://pluspng.com/img-png/honda-wings-png-honda-motorcycle-logo-2800.png" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-4 break">
      <div class="img-fluid">
        <img src="https://fly-wheel.com/wp-content/uploads/2019/04/maruti-suzuki-vector-logo.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c8/Tata_Advanced_Systems_Logo.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://www.premiertalentpartners.com/wp-content/uploads/2018/11/teksystems-logo.jpg" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://seekvectorlogo.com/wp-content/uploads/2018/01/trident-group-vector-logo.png" alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="https://seekvectorlogo.com/wp-content/uploads/2017/12/bosch-vector-logo.png " alt="" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-4">
      <div class="img-fluid">
        <img src="images/indian-navy.png" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
  <br>  
</div>