<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
<style>
  html,
  body {
    font-family: "Poppins", sans-serif;
  }

  .break {
    margin-top: 25px;
  }

  .grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-around;
    margin: 0 10%;
  }

  img{
    border: none !important;
    height: 105px;
    width: 105px;
  }

  @media (max-width: 800px) {
   .grid{
    grid-template-columns: auto auto auto;
   }
  }
</style>
<center>
  <h1 style="font-weight: bolder; color: #666;">Our Recruiters</h1>
</center>
<hr />

<div class="grid">
  <img src="/images/company/1.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/2.jpg" alt="" class="img-thumbnail break" />
  <img src="/images/company/3.jpg" alt="" class="img-thumbnail" />
  <img src="/images/company/4.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/5.cms" alt="" class="img-thumbnail" style="margin-top:10px" />
  <img src="/images/company/6.webp" alt="" class="img-thumbnail" style="margin-top:10px"/>
  <img src="/images/company/7.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/8.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/9.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/10.jpg" alt="" class="img-thumbnail break" style="margin-top: 35px;" />
  <img src="/images/company/11.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/12.jpg" alt="" class="img-thumbnail break" style="margin-top: 35px;" />
  <img src="/images/company/13.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/14.png" alt="" class="img-thumbnail" style="margin-top: 15px;"/>
  <img src="/images/company/15.png" alt="" class="img-thumbnail" />
  <img src="/images/company/16.jpg" alt="" class="img-thumbnail break" style="margin-top: 55px;"/>
  <img src="/images/company/17.png" alt="" class="img-thumbnail break" style="margin-top: 45px;"/>
  <img src="/images/company/18.jpg" alt="" class="img-thumbnail" style="margin-top: 15px;" />
  <img src="/images/company/19.png" alt="" class="img-thumbnail break" style="margin-top: 35px;" />
  <img src="/images/company/20.png" alt="" class="img-thumbnail" />
  <img src="/images/company/21.png" alt="" class="img-thumbnail break" style="margin-top: 35px;" />
  <img src="/images/company/22.png" alt="" class="img-thumbnail" />
  <img src="/images/company/23.png" alt="" class="img-thumbnail break" style="margin-top: 30px;" />
  <img src="/images/company/24.png" alt="" class="img-thumbnail" style="margin-top: 15px;" />
  <img src="/images/company/25.jpg" alt="" class="img-thumbnail" style="margin-top: 10px;" />
  <img src="/images/company/26.png" alt="" class="img-thumbnail" style="margin-top: 20px;" />
  <img src="/images/company/27.png" alt="" class="img-thumbnail" />
  <img src="/images/company/28.jpg" alt="" class="img-thumbnail" style="margin-top: 10px;" />
  <img src="/images/company/29.jpg" alt="" class="img-thumbnail break" />
  <img src="/images/company/30.png" alt="" class="img-thumbnail" style="margin-top: 10px;"/>
  <img src="/images/company/31.jpg" alt="" class="img-thumbnail break" />
  <img src="/images/company/32.png" alt="" class="img-thumbnail break" />
  <img src="/images/company/33.webp" alt="" class="img-thumbnail" style="margin-top: 10px;"/>
  <img src="/images/company/34.webp" alt="" class="img-thumbnail" />
  <img src="/images/company/35.png" alt="" class="img-thumbnail" style="margin-top: 15px;"/>
  <img src="/images/company/36.png" alt="" class="img-thumbnail break" style="margin-top: 30px;" />
  <img src="/images/company/37.jpg" alt="" class="img-thumbnail" />
  <img src="/images/company/38.png" alt="" class="img-thumbnail" style="margin-top: 25px;"/>
  <img src="/images/company/39.jpg" alt="" class="img-thumbnail" />
  <img src="/images/company/40.png" alt="" class="img-thumbnail" style="margin-top: 25px;"/>
  <img src="/images/company/41.jpg" alt="" class="img-thumbnail" style="margin-top: 15px;"/>
  <img src="/images/company/42.webp" alt="" class="img-thumbnail" />
  <img src="/images/company/43.jpg" alt="" class="img-thumbnail" />
  <img src="/images/company/44.webp" alt="" class="img-thumbnail break" style="margin-top: 30px;"/>
  <img src="/images/company/45.png" alt="" class="img-thumbnail" style="margin-top: 30px;"/>
  <img src="/images/company/46.webp" alt="" class="img-thumbnail" style="margin-top: 30px;"/>
  <img src="/images/company/47.webp" alt="" class="img-thumbnail" style="margin-top: 25px;"/>
  <img src="/images/company/48.jpg" alt="" class="img-thumbnail" style="margin-top:5px;"/>
  <img src="/images/company/49.webp" alt="" class="img-thumbnail"  style="margin-top:25px;"/>
  <img src="/images/company/23.pg" alt="" class="img-thumbnail" />
  <img src="/images/company/50.png" alt="" class="img-thumbnail" />
  <img src="/images/company/51.png" alt="" class="img-thumbnail" style="margin-top:17px;"/>
  <img src="/images/company/52.png" alt="" class="img-thumbnail" />
  <img src="/images/company/53.png" alt="" class="img-thumbnail" style="margin-top:17px;"/>
  <img src="/images/company/54.png" alt="" class="img-thumbnail" />
  <img src="/images/company/23.pg" alt="" class="img-thumbnail" />
  
  <img src="/images/company/23.pg" alt="" class="img-thumbnail" style="margin-bottom: 50px;" />
</div>