<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
<style>
  html,
  body {
    font-family: "Poppins", sans-serif;
  }

  .break {
    margin-top: 15px;
  }

  .img-fluid .img-thumbnail {
    border: none;
  }

  .sec-2 {
    height: auto;
  }
</style>
<center>
  <h1 style="font-weight: bolder;color: #666;">Our Recruiters</h1>
</center>
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/AA Indian Navy.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Accenture.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid break">
        <img src=" /images/Logo/Adani Gas.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Aditya Birla Madura.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ADP.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Afcons.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid break">
        <img src="/images/Logo/Amazon.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Analog Devices.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Aptus Data Labs.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Arvind.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Asian Paints.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/AYM Syntex.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Bosch.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Brillio.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Capgemini.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Century Enka.png" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Cognizant.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Deloitte.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Eurofins.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Factset.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Genpact.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Godrej.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gojek.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gupta Power.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br /><br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gyansys.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/HCL.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Hitachi Cons.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/IBM.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Incture.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Infosys.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ITC Infotech.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Jaro.png" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/JK Paper.jpg" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/JSW Cement.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Kreeti Tech.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Macleods.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Maruti Suzuki.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Medha.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Microsoft.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Mindtree.png" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/MU SIgma.jpeg" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Nineleaps.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Odessa.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Pradan.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Redhat.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Sankalp Semiconductor.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/SKF.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Skoda.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Sterling Wilson.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Symphony Talent.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/TATA ADVANCED SYSTEMS.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Consultancy.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA SPONGE.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Steel BSL.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Steel.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Tech Mahindra.png" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Tejas.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TEKSystems.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/TRL Krosaki.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Vardhman.jpeg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class=" col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Vedanta.png" alt="" class="img-thumbnail  " />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Windmoller.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Wipro.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 col-sm-4 col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ZS.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
</div>