<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
<style>
  html,
  body {
    font-family: "Poppins", sans-serif;
  }

  .img-fluid .img-thumbnail {
    border: none;
  }

  .sec-2 {
    height: auto;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 800px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
</style>
<center>
  <h1 style="font-weight: bolder; color: #666;">Our Recruiters</h1>
</center>
<hr />

<div class="container-fluid desktop">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Accenture.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid break">
        <img src=" /images/Logo/Adani Gas.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ADP.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Afcons.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid break">
        <img src="/images/Logo/Amazon.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Analog Devices.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Arvind.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Asian Paints.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/AYM Syntex.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Bosch.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Brillio.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Capgemini.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Cognizant.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Deloitte.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Eurofins.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Factset.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Genpact.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Godrej.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gojek.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gyansys.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/HCL.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/IBM.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Incture.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Infosys.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br /><br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ITC Infotech.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/JK Paper.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Macleods.jpg" alt="" class="img-thumbnail" style="padding-top: 1rem;" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Medha.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Microsoft.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Mindtree.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Odessa.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Pradan.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Red Hat.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Sankalp Semiconductor.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/SKF.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>

    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Symphony Talent.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Steel.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Tech Mahindra.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Tejas.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Wipro.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/MU SIgma.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Vardhman.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Skoda.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ZS.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/AA Indian Navy.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Aditya Birla Madura.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Century Enka.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Kreeti Tech.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br />
</div>
<div class="container desktop">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/JSW Cement.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Steel BSL.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/TATA ADVANCED SYSTEMS.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Consultancy.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA SPONGE.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Aptus Data Labs.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gupta Power.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Hitachi Cons.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Jaro.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Maruti Suzuki.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Sterling Wilson.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TEKSystems.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/TRL Krosaki.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Vedanta.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Windmoller.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
</div>

<div class="container mobile">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Accenture.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid break">
        <img src=" /images/Logo/Adani Gas.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ADP.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Afcons.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid break">
        <img src="/images/Logo/Amazon.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Analog Devices.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Tejas.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Bosch.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Brillio.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Capgemini.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Cognizant.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Deloitte.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Genpact.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Godrej.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gojek.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gyansys.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/HCL.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/IBM.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Arvind.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Odessa.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Eurofins.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Factset.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Incture.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Infosys.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ITC Infotech.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/JK Paper.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Macleods.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Medha.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Microsoft.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Mindtree.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Red Hat.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Sankalp Semiconductor.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/SKF.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <br />
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Symphony Talent.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Steel.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Tech Mahindra.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/JSW Cement.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Steel BSL.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/TATA ADVANCED SYSTEMS.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA Consultancy.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TATA SPONGE.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Aptus Data Labs.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Gupta Power.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Hitachi Cons.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Jaro.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Sterling Wilson.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/TEKSystems.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/TRL Krosaki.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Vedanta.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Windmoller.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Maruti Suzuki.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/MU SIgma.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Vardhman.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Skoda.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/ZS.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/AA Indian Navy.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Aditya Birla Madura.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Asian Paints.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Pradan.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/AYM Syntex.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Wipro.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src="/images/Logo/Century Enka.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-3 d-flex align-items-center">
      <div class="img-fluid">
        <img src=" /images/Logo/Kreeti Tech.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
  </div>
</div>
<br /><br />