<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Reset Password</title>
</head>
<body>
    <section>
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
          <div class="formBx">
            <form method="POST">
              <h2>Reset Password</h2>
              <input type="password" name="password" id="password" placeholder="Password" required />
              <input type="password" name="c_password" id="confirm_password" placeholder="Confirm Password" required />
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="/javascripts/jquery.min.js"></script>
    <!-- <script src="/javascripts/popper.min.js"></script> -->
    <script src="/javascripts/bootstrap-material-design.min.js"></script>
    <script src="/javascripts/bootstrap-notify.js"></script>
    <script src="/javascripts/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script>
        var password = document.getElementById("password"),
            confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
  </body>
</html>