<style>
  /* Our Team
-------------------------------------------------------*/
  .font {
    font-size: 13px;
  }

  .our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
  }

  .our-team .team-wrap {
    padding: 0 40px;
  }

  .our-team .container-fluid {
    padding: 0 50px;
  }

  .team-img img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 85%;
    height: 257px;
  }

  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .team-title {
    margin: 30px 0 7px;
  }

  .overlay {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    left: 25px;
    top: 0;
    width: 85%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .side {
    left: 20px;
  }

  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .team-details p {
    color: #fff;
  }

  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }

  .team-details i {
    font-size: 12px;
  }

  .team-img:hover .overlay {
    opacity: 1;
  }

  .team-img .tpo {
    height: 330px;
  }

  @media (max-width: 800px) {
    .team-title {
      margin: 15px 0 25px;
    }

    .font {
      font-size: inherit;
    }

    .team-details i {
      font-size: 13px;
    }

    .team-img img {
      height: 330px
    }

    .team-img .tpo {
      height: 350px;
    }

    .side {
      left: 25px;
    }
  }
</style>
<div class="container">
  <h1 class="head" style="margin: 1em 0;">Placement Committee</h1>

  <div class="row team-row">
    <div class="col-md-4 col-sm-6 team-wrap"></div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img class="tpo" src="/images/team/0.jpg" alt="" />
          <div class="overlay">
            <div class="team-details text-center" style="top: 45%;">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Officer) <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.5rem;"></i>
                <i style="font-size: 14px;">skpradhan@cet.edu.in</i><br />
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    font-size: 14px;
                  "></i>
                <i>+91 94371 57631</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap"></div>
    <!-- end team member -->
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/1.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Samarjit Patnaik</b><br /><br />
                Department of Electrical Engineering (Deputy Training &
                Placement Officer) <br /><br />

                <i class="far fa-envelope" style="color: #fff;"></i>
                <i style="font-size: 12px; margin-left: 0.2rem;">patnaik.samarjit@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 94384 88168</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Samarjit Patnaik</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/2.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b><br /><br />
                Department of Textile Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>bpdash@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top:.5rem;
                  "></i>
                <i>+91 94373 85554</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/3.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Durgesh Prasad Bagarty</b><br /><br />
                Department of Electrical Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>dpbagarty@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                  color: #fff;
                  margin-right: 0.2rem;
                  margin-top:.5rem;
                "></i>
                <i>+91 94375 36771</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Durgesh Prasad Bagarty</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/4.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Aswini Kumar Dash</b><br /><br />
                Department of Fashion & Apparel Technology <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>akdash@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top:.5rem;
                  "></i>
                <i>+91 95823 62184</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Aswini Kumar Dash</h5>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/5.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Biswajit Samantray</b><br /><br />
                Department of Chemistry<br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>biswajit@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top:.5rem;
                  "></i>
                <i>+91 94372 29745</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Biswajit Samantray</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/6.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;"> Prof. Debi Prasad Dash</b><br /><br />
                Department of Instrumentation & Electronics Engineering
                <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>dpdashie@cet.edu.in</i><br>‎
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 77359 80599</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Debi Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/7.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Bijay Kumar Ekka</b><br /><br />
                Department of Instrumentation & Electronics Engineering<br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>bkekka@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>‎+91 88959 04757</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Bijay Kumar Ekka</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/8.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Sanjit Kumar Dash</b><br /><br />
                Department of Information Technology <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>skdash@cet.edu.in</i><br />
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 94379 90892</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Sanjit Kumar Dash</h5>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/9.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Biswajit Majhi</b><br /><br />
                Department of Civil Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff;"></i>
                <i>biswajeetmajhi982@gmail.com</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>‎+91 79780 37497</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Biswajit Majhi</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/10.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Pramodini Sahu</b><br /><br />
                Department of Civil Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>pramodinice@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>‎+91 73810 16151</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Pramodini Sahu</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/11.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Minakhi Behera</b><br /><br />
                Department of Electrical Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>mbeheraee@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 88956 38889</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Minakhi Behera</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/12.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Susmita Pal</b><br /><br />
                Department of Master of Computer Applications <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>susmitapal@gmail.com</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 94373 89327</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Susmita Pal</h5>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="/images/team/13.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Manoranjan Panda</b><br /><br />
                Department of Computer Science Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>mpanda@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 94372 05692</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Manoranjan Panda</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/14.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Suraj Kumar Nayak</b><br /><br />
                Department of Biotechnology<br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>surajnayak3@gmail.com</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top:.5rem;
                  "></i>
                <i>+91 94371 55632</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Suraj Kumar Nayak</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center font">
        <div class="team-img">
          <img src="/images/team/15.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center">
              <p>
                <b style="font-size: 1.5em;">Prof. Jitendra Naik</b><br /><br />
                Department of Mechanical Engineering <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>jnaik@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top:.5rem;
                  "></i>
                <i>+91 96683 61912</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Jitendra Naik</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="/images/team/16.jpg" alt="" />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Prof. Bhawani Sankar Sa</b><br /><br />
                Department of Planning <br /><br />

                <i class="far fa-envelope" style="color: #fff; margin-right: 0.2rem;"></i>
                <i>bhabaniplanning@cet.edu.in</i><br>
                <i class="fas fa-phone-volume" style="
                    color: #fff;
                    margin-right: 0.2rem;
                    margin-top: .5rem;
                  "></i>
                <i>+91 99376 58755</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Bhawani Sankar Sa</h5>
      </div>
    </div>
  </div>
  <br /><br />
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>