<style>
  /* Our Team
-------------------------------------------------------*/
  .font {
    font-size: 13px;
  }

  .our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
  }

  .our-team .team-wrap {
    padding: 0 40px;
  }

  .our-team .container-fluid {
    padding: 0 50px;
  }

  .team-img img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 85%;
  }

  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
  }

  .team-title {
    margin: 30px 0 7px;
  }

  .overlay {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    left: 25px;
    top: 0;
    width: 85%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .side {
    left: 20px;
  }

  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .team-details p {
    color: #fff;
  }

  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }

  .team-img:hover .overlay {
    opacity: 1;
  }

  @media (max-width: 800px) {
    .team-title {
      margin: 15px 0 25px;
    }
  }
</style>
<div class="container">
  <h1 class="head" style="margin: 1em 0;">Placement Committee</h1>

  <div class="row team-row">
    <div class="col-md-4 col-sm-6 team-wrap">
      <!-- <div class="team-member text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_1.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b><br><br>
                Department of Mechanical Engineering (Training & Placement Coordinator) <br><br>

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div> -->
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_2.jpg"
            alt=""
          />
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                <b style="font-size: 1.5em;">Prof. Samarjit Patnaik</b
                ><br /><br />
                Department of Electrical Engineering (Deputy Training &
                Placement Coordinator, Internship Coordinator) <br /><br />

                <i> E-mail ID: patnaik.samarjit@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Prof. Samarjit Patnaik</h5>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <!-- <div class="team-member last text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_3.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b><br><br>
                Department of Textile Engineering <br><br>

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>

            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div> -->
    </div>
    <!-- end team member -->
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member text-center font">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_1.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center">
              <p>
                <b style="font-size: 1.5em;">Dr. Saroj Kumar Pradhan</b
                ><br /><br />
                Department of Mechanical Engineering (Training & Placement
                Coordinator) <br /><br />

                <i> E-mail ID: skpradhan@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Saroj Kumar Pradhan</h5>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row team-row">
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img
            src="http://deothemes.com/envato/enigma/html/img/team_3.jpg"
            alt=""
          />
          <div class="overlay side">
            <div class="team-details text-center font">
              <p>
                <b style="font-size: 1.5em;">Dr. Bibhu Prasad Dash</b
                ><br /><br />
                Department of Textile Engineering <br /><br />

                <i> E-mail ID: bpdash@cet.edu.in</i>
              </p>
            </div>
          </div>
        </div>
        <h5 class="team-title">Dr. Bibhu Prasad Dash</h5>
      </div>
    </div>
  </div>
</div>
