<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Our Team</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/index.css" />
  <link rel="shortcut icon" href="images/cet.ico" type="image/x-icon" />
</head>

<body>
  <%- include('navbar') %> <%- include('sec5') %>

  <div class="head" style="margin-top: 2em;">
    Student Placement Coordinators
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/1.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              sats.mohanty@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 8280103050
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Satyajit Mohanty</h3>
            <span class="post">Electrical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/2.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              keshab.jain1695@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 9556069410
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Keshab Jain</h3>
            <span class="post">Electrical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/3.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              omprakash.cetb@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 9438688816
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Om Prakash Jena</h3>
            <span class="post">Instrumentation and Electronics Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/4.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              anishaag.cetb@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 7978029545
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Anisha Agrawal</h3>
            <span class="post">Instrumentation and Electronics Engineering</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/5.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              subhamtandon98@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 9853308038
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Subham Tandon</h3>
            <span class="post">Computer Science and Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/6.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              priyaagr30@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 9078758422
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Priya Agrawal</h3>
            <span class="post">Information Technology</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/7.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              alishamohanty1997@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 7004694077
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Alisha Mohanty</h3>
            <span class="post">Fashion and Apparel Technology</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/16.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              amrit007.mallik@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 9439797211
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Amrit Mallik</h3>
            <span class="post">Textile Engineering</span>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/9.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              subhambrmp@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 7008031678
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Subham Agarwal</h3>
            <span class="post">Civil Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/10.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              biswa.amlan@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 6370838467
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Biswa Amlan Rout</h3>
            <span class="post">Civil Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/11.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              tguru.cetb@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 8249169618
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Tattwadarshi Guru</h3>
            <span class="post">Mechanical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/12.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              aryansudipta@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 8480404225
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Sudipta Mohapatra</h3>
            <span class="post">Mechanical Engineering</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/13.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              sujitpatra393@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 8093391275
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Patra Sujit Bhaskar</h3>
            <span class="post">Masters of Computer Applications (MCA)</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/14.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              chinmayee310@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 9555184311
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Chinmayee Satapathy</h3>
            <span class="post">Biotechnology</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/15.jpg" />
            <ul class="social" style="font-size: 12px;">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              bhubaneswariplacement2020@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 7978644310
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Bhubaneswari Mishra</h3>
            <span class="post">Integrated M.Sc and 2-Year M.Sc</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team1/8.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              harekrishnabiswal25@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 7894041508
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Harekrishna <br> Biswal</h3>
            <span class="post">Bachelor of Planning</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  </div>

  <div class="main_sec">
    <div class="head">
      Designed and Developed By
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/1.jpg" />
            <div class="team-content">
              <h3 class="title">Pratik Panda</h3>
              <span class="post">Textile Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/pratikpanda03" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/pratikpanda98" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/pratik-panda/" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/2.png" />
            <div class="team-content">
              <h3 class="title">Satyajeet Malla</h3>
              <span class="post">Computer Science and Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/satyajeet.malla.37/" target="_blank"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/satyajeetmalla2" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/satyajeet-malla-89a818193/" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/3.png" />
            <div class="team-content">
              <h3 class="title">Kshitij Srivastava</h3>
              <span class="post">Instrumentation and Electronics Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/kshitij.srivastava.568294" target="_blank"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/kshitijsri56?s=08" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/kshitij-srivastava-b87793175" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/4.png" />
            <div class="team-content">
              <h3 class="title">Prajojita Nayak</h3>
              <span class="post">Instrumentation and Electronics Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/prajojita.nayak" target="_blank"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/PrajojitaN?s=08" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/prajojita-nayak-6940bb180" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>
</body>

</html>