<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description"
    content="Training and Placement Cell, College of Engineering and Technology, Bhubaneshwar." />
  <meta name="keywords"
    content="CET Bhubaneshwar Placement Website, CET B Placement Website, College of Engineering and Technology, Bhubaneshwar" />
  <meta name="owner" content="CET Bhubaneshwar" />
  <meta name="author" content="CET Bhubaneshwar" />
  <meta name="generator" content="cet.edu.in" />
  <meta name="msapplication-config" content="none" />

  <meta property="og:title" content="The Official Placement Website of CET, Bhubaneshwar" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://placement.cet.edu.in/team" />
  <meta property="og:image" content="http://placement.cet.edu.in/images/cet.png" />
  <meta property="og:site_name" content="CET Bhubaneshwar" />
  <meta property="og:description"
    content="Training and Placement Cell, College of Engineering and Technology, Bhubaneshwar." />

  <title>Our Team</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/index.css" />
  <link rel="shortcut icon" href="images/cet.ico" type="image/x-icon" />
</head>

<body>
  <%- include('partials/navbar') %> 
   <!-- include('sec5')  -->

  <div class="head" style="margin-top: 2em;">
    Student Placement Coordinators
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/1.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Sangram Mohapatra</h3>
            <span class="post">Information Technology</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/2.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Swapnasis Satpathy</h3>
            <span class="post">Electrical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/8.jpg" style="height:371px; margin-top:-2em"/>
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br /
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Subham Nanda</h3>
            <span class="post">Electronics and Instrumentation Engineering</span>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/4.png" style="height:338px;" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Khitish Pattanayak</h3>
            <span class="post">Electrical Engineering</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/5.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>.
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Madhurya Sarangi</h3>
            <span class="post">Mechanical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/6.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Ruchira Dash</h3>
            <span class="post">Mechanical Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/7.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Alipta Mangaraj</h3>
            <span class="post">Electronics and Instrumentation Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/3.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Pratyush Parida</h3>
            <span class="post">Electrical Engineering</span>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/9.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Bidya Kar</h3>
            <span class="post">Computer Science Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/10.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Anisha Nayak</h3>
            <span class="post">Civil Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/11.png" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Priyanka Nayak</h3>
            <span class="post">Civil Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/12.jpg" style="margin-top:3em; height:270px;"/>
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Ch Saranya</h3>
            <span class="post">Fashion and Apparel Technology</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/13.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Jasmin Mohanty</h3>
            <span class="post">Textile Engineering</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/14.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Aparna Tripathy</h3>
            <span class="post">Biotechnology</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/15.png" />
            <ul class="social" style="font-size: 12px;">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              .
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              .
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Ashutosh Dash</h3>
            <span class="post">Computer Science and Application (MCA)</span>
          </div>
        </div>
      </div>





      <!-- <div class="col-md-3 col-sm-6">
        <div class="our-team1">
          <div class="pic">
            <img src="images/team2023/8.jpg" />
            <ul class="social">
              <i class="far fa-envelope" style="color: #57aced;margin-right: 5px;"></i>
              harekrishnabiswal25@gmail.com
              <br /><br />
              <i class="fas fa-phone-volume" style="color: #57aced;margin-right: 5px;"></i>
              +91 7894041508
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Harekrishna <br> Biswal</h3>
            <span class="post">Bachelor of Planning</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <br />
  <br />
  </div>

  <div class="main_sec">
    <div class="head">
      Designed and Developed By
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/1.jpg" />
            <div class="team-content">
              <h3 class="title">Pratik Panda</h3>
              <span class="post">Textile Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/pratikpanda03" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/pratikpanda98" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/pratik-panda/" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/2.png" />
            <div class="team-content">
              <h3 class="title">Satyajeet Malla</h3>
              <span class="post">Computer Science and Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/satyajeet.malla.37/" target="_blank"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/satyajeetmalla2" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/satyajeet-malla-89a818193/" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/3.png" />
            <div class="team-content">
              <h3 class="title">Kshitij Srivastava</h3>
              <span class="post">Instrumentation and Electronics Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/kshitij.srivastava.568294" target="_blank"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/kshitijsri56?s=08" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/kshitij-srivastava-b87793175" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="images/team2/4.png" />
            <div class="team-content">
              <h3 class="title">Prajojita Nayak</h3>
              <span class="post">Instrumentation and Electronics Engineering</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/prajojita.nayak" target="_blank"><i
                      class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/PrajojitaN?s=08" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/prajojita-nayak-6940bb180" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>

</html>