<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <link rel="stylesheet" href="stylesheets/home.css" />
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="shortcut icon" href="images/cet.ico" type="image/x-icon" />
  </head>

  <body>
    <%- include('navbar') %> <%- include('sec5') %>

    <div class="head" style="margin-top: 2em;">
      Student Volunteers
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1001.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Williamson</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1000.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Designer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1001.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Williamson</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1000.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Designer</span>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1001.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Williamson</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1000.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Designer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1001.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Williamson</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team1">
            <div class="pic">
              <img src="images/1000.jpg" />
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Designer</span>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="none" id="nodis0">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1001.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Williamson</h3>
                <span class="post">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1000.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Kristiana</h3>
                <span class="post">Web Designer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1001.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Williamson</h3>
                <span class="post">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1000.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Kristiana</h3>
                <span class="post">Web Designer</span>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1001.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Williamson</h3>
                <span class="post">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1000.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Kristiana</h3>
                <span class="post">Web Designer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1001.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Williamson</h3>
                <span class="post">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team1">
              <div class="pic">
                <img src="images/1000.jpg" />
                <ul class="social">
                  <li><a href="#" class="fab fa-facebook"></a></li>
                  <li><a href="#" class="fab fa-instagram"></a></li>
                  <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
              </div>
              <div class="team-content">
                <h3 class="title">Kristiana</h3>
                <span class="post">Web Designer</span>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <br />
      <center><div class="btn btn-primary" id="nodis3">KNOW MORE</div></center>
      <center>
        <div class="btn btn-primary none" id="nodis4">KNOW LESS</div>
      </center>
    </div>

    <div class="main_sec">
      <div class="head">
        Designed and Developed By
      </div>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="our-team">
              <img src="images/1001.jpg" />
              <div class="team-content">
                <h3 class="title">Williamson</h3>
                <span class="post">Web Developer</span>
                <ul class="social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team">
              <img src="images/1000.jpg" />
              <div class="team-content">
                <h3 class="title">Kristiana</h3>
                <span class="post">Web Designer</span>
                <ul class="social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team">
              <img src="images/1001.jpg" />
              <div class="team-content">
                <h3 class="title">Williamson</h3>
                <span class="post">Web Designer</span>
                <ul class="social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="our-team">
              <img src="images/1000.jpg" />
              <div class="team-content">
                <h3 class="title">Kristiana</h3>
                <span class="post">Web Designer</span>
                <ul class="social">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(".btn").click(function () {
        $("#nodis0").toggleClass("none");
        $("#nodis3").toggleClass("none");
        $("#nodis4").toggleClass("none");
      });
    </script>

    <%- include('footer') %>
  </body>
</html>
