<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="shortcut icon" href="images/cet.ico" type="image/x-icon">
    <style>
        .part {
            width: 80%;
            border: 1px solid #eee;
            box-shadow: 0 2px 3px rgb(135, 226, 135);
            padding: 10px;
            margin: 10px auto;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <%- include('navbar') %>

    <section class="part">

    </section>

    <section class="part">

    </section>

    <%- include('footer') %>
</body>
</html>