<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Why CET</title>
    <style>
        b {
            font-size: large;
            /* font-weight: 300; */
        }
        p {
            font-size: 1.1em;
        }
        @media (max-width: 800px) {
            .main_sec {
                height: auto;
            }
        }
    </style>
</head>
<body>
    <%- include('navbar') %>
    <div class="main_sec">
        <div class="container">
            <center><h1>Why CET</h1></center>  <hr><br>
            <div class="row"><div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-check"></i> 
                        </div>
                        <div class="col-md-10">
                            <h5>One of the topmost colleges in Odisha, only behind IIT Bhubaneswar and NIT Rourkela</h5>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-check"></i> 
                        </div>
                        <div class="col-md-10">
                            <h5>Talented pool of students with technical acumen par excellence</h5>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-check"></i> 
                        </div>
                        <div class="col-md-10">
                            <h5>Student involvement in various co-curricular activities through active clubs and societies, enhancing their personalities</h5>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-check"></i> 
                        </div>
                        <div class="col-md-10">
                            <h5>Excellent placement statistics which keeps on increasing every academic session, through a dedicated T&P Cell</h5>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-check"></i> 
                        </div>
                        <div class="col-md-10">
                            <h5>Students are imparted with ethics and values education along with inter-personal skills and discipline</h5>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1">
                            <i class="fa fa-check"></i> 
                        </div>
                        <div class="col-md-10">
                            <h5>Numerous student achievements in multitude of regional and national forums</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <center><h1>Reaching Bhubaneswar</h1></center>  <hr><br>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                   <img src="https://odishanewsinsight.com/wp-content/uploads/2016/08/airport.jpg" alt="" class="img-thumbnail">
               </div>
           </div>
           <div class="col-md-9">
               <p>
                   <b> Air-ways:</b>
                   Bhubaneshwar is well linked by air to important cities of the country. IndiGo, GoAir, SpiceJet, Air India and Vistara are the domestic airline carriers providing services to Bangalore, Hyderabad, Chennai, Delhi, Kolkata, Mumbai, and Visakhapatnam. The airport is about 10km from the Institute.
               </p>
           </div>
       </div><br>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                   <img src="https://st.indiarailinfo.com/kjfdsuiemjvcya22/0/6/3/7/4220637/0/img201902070038042262018.jpg" alt="" class="img-thumbnail">
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <b> Rail-ways: </b>
                   Trains connect Bhubaneswar with other major cities of India. A major railhead on the East Coast (ECo) Railway, it has fast and super fast train links to important centresof the country as well as within the state. The station is located in the centreof town which is about 11km from the Institute.
               </p>
           </div>
       </div><br>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                   <img src="https://i1.wp.com/www.urbantransportnews.com/wp-content/uploads/2018/10/Midi-Bus.jpg?resize=600%2C380&ssl=1" alt="" class="img-thumbnail">
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <b> Road-ways:</b> 
                  Bhubaneswar is well linked to the rest of the country by the national highways. The New Bus Stand in Bhubaneswar is on NH5, at Baramunda, about 4km from the Institute.
               </p>
           </div>
       </div><br>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                   <img src="images/cet.jpg" alt="" class="img-thumbnail">
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <b> Our Hospitality:</b> The Institute takes care in providing accommodation required for the
                   corporate officials who come for the placement drive. As per the requirement, the
                   Institute shall arrange for the stay and travel of the company officials in the city. Should
                   you require any help in this regard, the Placement Cell would be glad to be of assistance.
               </p>
           </div>
       </div><br>

        <center><h1>Places of Interest</h1></center>  <hr><br>
       <div class="row">
           <div class="col-md-3">
               <div class="img-fluid">
                   <img src="https://i.pinimg.com/originals/cf/44/f6/cf44f60e97ae155f9e52e4f82ea24d33.jpg" alt="" class="img-thumbnail">
               </div>
               <p>
                  <h4><center><b> Puri </b></center></h4>
                   80 kms from the capital; 
                   with a world renowned sea beach
                   and the Godly abode of Lord Jagannath;
                   one of the 4 Dhamsof Hindu Culture.
               </p>
           </div>
           <div class="col-md-3">
               <div class="img-fluid">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Palpala_River_near_lulung%2C_Similipal_National_Park.jpg" alt="" class="img-thumbnail">
               </div>
               <p>
                  <h4><center><b> Similipal </b></center></h4>
                  250 kms from
                  Bhubaneswar; home of tigers, leopards, elephants, chital, sambar and 304
                  species of birds.
               </p>
           </div>
           <div class="col-md-3">
               <div class="img-fluid">
                   <img src="https://images.assettype.com/swarajya/2018-07/db2d2a75-41f0-4bd8-9f05-35a534a3d5ff/f6f42413_abf2_4b4d_9142_beef1d4cde0c.jpg?w=1280&q=100&fmt=pjpeg&auto=format" alt="" class="img-thumbnail">
               </div>
               <p>
                  <h4><center><b> Konark </b></center></h4>
                  65 kms from the capital; 13th Century built Sun Temple; an UNESCO World Heritage Site.
               </p>
           </div>
           <div class="col-md-3">
               <div class="img-fluid">
                   <img src="https://www.dhauli.net/images/shanti-stupa-dhauli.jpg" alt="" class="img-thumbnail">
               </div>
               <p>
                  <h4><center><b> Dhauli </b></center></h4>
                  Located in
                  Bhubaneswar; is a Buddhist Shrine with edicts made by Emperor Ashoka after his turn of belief.
               </p>
           </div>
       </div>

        <center><h1>Student Chapters</h1></center>  <hr><br>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                  <center> <img src="images/asme.png" alt="" class="img-thumbnail"></center>
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <h4><b> Collegiate Chapter of American Society of Mechanical Engineers, USA</b></h4>
                   Established in 2014; promotes the engineering ingenuity and encourages application through its  international level competitions and expositions.
               </p>
           </div>
       </div><hr>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                  <center> <img src="images/sae.png" alt="" class="img-thumbnail"></center>
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <h4><b> Collegiate Chapter of Society of Automotive Engineers, USA </b></h4>
                   Established in 2014; provides the necessary base to hone the skills of automotive applications through its  international level competitions - SAE BAJA & SAE SUPRA.
               </p>
           </div>
       </div><hr>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                  <center> <img src="images/iste.png" alt="" class="img-thumbnail"></center>
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <h4><b> Collegiate Chapter of Indian Society for Technical Education, USA </b></h4>
                  Established in 2014; infuses the engineering ingenuity and encourages application through its national  level competitions, seminars and workshops.
               </p>
           </div>
       </div><hr>
       <div class="row">
           <div class="col-md-2">
               <div class="img-fluid">
                   <center> <img src="images/almuni.png" alt="" class="img-thumbnail"></center>
               </div>
           </div>
           <div class="col-md-9">
               <p>
                  <h4><b> The Alumni Chapter of CET </b></h4>
                  A strong and growing network. It keeps the Company-Institution relationship going and helps both grow in  collaboration with each other.
               </p>
           </div>
       </div><hr>
   </div>

   <div>
       <section>
           <%- include('footer') %>
       </section>
   </div>

    
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>