<style>
  .sec-4 {
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 10px 150px;
    margin-top: 5em;
    margin-bottom: 20px;
  }

  .sec-4__p {
    width: 75%;
    text-align: justify;
    margin: 0 auto;
  }

  .principal-img1 {
    height: 14rem;
    width: 11rem;
    border-radius: 25%;
    box-sizing: border-box;
    box-shadow: 2px 9px 9px #aaa;
  }

  .principal-msg {
    text-align: justify;
    word-spacing: 3px;
    font-size: 18px;
    color: #666;
  }

  .des1 {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .mob1 {
      display: none;
    }

    .des1 {
      display: block;
      text-align: center;
    }

    .principal-msg {
      word-spacing: 1px;
      margin: 20px 0 0;
      font-size: 18px;
    }

    .sec-4 {
      padding: 10px;
      margin-top: 2em;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="des1" style="color: #666">
      <h1><b>Training and Placement Officer's Desk</b></h1>
      <h4>Dr. Saroj Kumar Pradhan</h4>
      <br />
    </div>
    <div class="col-md-3">
      <img
        src="/images/TPON.jpg"
        alt="tpo cet bbsr"
        class="img-fluid principal-img1 mx-auto d-block"
      />
    </div>
    <div class="col-md-9">
      <div class="mob1" style="color: #666">
        <h1><b>Training and Placement Officer's Desk</b></h1>
        <h4>Dr. Saroj Kumar Pradhan</h4>
        <br />
      </div>
      <p class="principal-msg">
        In today's world of globalization where everything moves swiftly, the
        right kind of skills inculcated within an individual is the need of the
        hour. OUTR always abides by its mission to produce professionally
        competent engineers adaptable to the advancing demands of the industry.
        The prime strengths of our university are its highly proficient
        students, immensely dedicated and research-oriented faculty who believe
        in the idea of imparting practical education, hard work staff, and
        state-of-the-art infrastructure. Our proud alumni have carved out a
        niche for themselves as assets to their organizations providing an
        upbeat impression on our placement statistics. In the preceding year, we
        have exceeded our expectations, as the T&P Cell has managed to extend
        various opportunities to the students. Our institute is also well
        equipped for online-based placement/internship drives with proctored
        tests and interviews over video conference thereby providing a
        convenient platform for requirement processes. We overwhelmingly
        encourage all private and government sector companies to indulge in our
        recruitment processes by assuring that the students enlisted will play a
        pivotal role in the growth and development of their respective
        organizations.
      </p>
    </div>
  </div>
</div>
