
<style>
  .sec-5 {
      height: auto;
      padding: 60px 0;
      background: #fff; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
      /* background: linear-gradient(to right, #FFFFFF, #ECE9E6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .img-thumbnail{
    border:none;
  }
  .side {
    margin-left: 25px;
    margin-right: 25px;
  }
  .smll {
    font-weight: 500;
    margin-bottom: 30px;
  }
  @media (max-width: 800px) {
    .smll {
      font-size: 0.87em;
    }
    .side {
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>
<center><h1>Development Programs & Facilities</h1></center>  <hr>

    <div class="container">
      <div class="row">
          <div class="col-md-6 side">
            <div class="img-fluid">
              <img src="/images/stud.png" class="img-thumbnail">
            </div>
          </div>
          <div class="col-md-5"><br>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/121.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <p class="smll">Classroom teaching by highly qualified teachers</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/122.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <p class="smll">Industrial lectures by experienced professionals and industrial visits</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/123.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <p class="smll">Presentation and personal development activities</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/124.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <p class="smll">CTTC collaboration for technical training and projects, with hi-tech labs</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-3">
                <div class="img-fluid">
                  <img src="/images/125.png" alt="" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-9">
                <p class="smll">Round the clock high speed Wi-Fi access and advanced computer labs for greater digital connectivity</p>
              </div>
            </div>
          </div>
      </div>
    </div>