<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<style>
  .sec-5 {
    height: auto;
    padding: 1em 0;
    color: #666;
  }

  .img-thumbnail {
    border: none;
  }

  .side {
    margin-left: 25px;
    margin-right: 25px;
  }

  .smll {
    font-weight: 500;
    margin-bottom: 30px;
  }

  @media (max-width: 800px) {
    .top {
      margin-top: 7px;
    }

    .smll {
      font-size: 0.87em;
    }

    .side {
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>
<center>
  <h1 style="font-weight: bolder;color: #666;">Development Programs & Facilities</h1>
</center>
<hr />

<div class="container">
  <div class="row">
    <div class="col-md-6 side wow bounceInLeft" data-wow-duration="2s">
      <div class="img-fluid">
        <img src="/images/stud.png" alt="image not found" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-md-5">
      <br />
      <div class="row wow bounceInUp" data-wow-duration="0.1s">
        <div class="col-md-2 col-sm-3 col-3">
          <div class="img-fluid">
            <img src="/images/121.png" alt="image not found" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <p class="smll top">Classroom teaching by highly qualified teachers</p>
        </div>
      </div>
      <div class="row wow bounceInUp" data-wow-duration="0.2s">
        <div class="col-md-2 col-sm-3 col-3">
          <div class="img-fluid">
            <img src="/images/122.png" alt="image not found" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <p class="smll top">
            Industrial lectures by experienced professionals and industrial
            visits
          </p>
        </div>
      </div>
      <div class="row wow bounceInUp" data-wow-duration="0.3s">
        <div class="col-md-2 col-sm-3 col-3">
          <div class="img-fluid">
            <img src="/images/123.png" alt="image not found" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <p class="smll top">Presentation and personal development activities</p>
        </div>
      </div>
      <div class="row wow bounceInUp" data-wow-duration="0.4s">
        <div class="col-md-2 col-sm-3 col-3">
          <div class="img-fluid">
            <img src="/images/124.png" alt="image not found" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <p class="smll">
            CTTC collaboration for technical training and projects, with hi-tech
            labs
          </p>
        </div>
      </div>
      <div class="row wow bounceInUp" data-wow-duration="0.5s">
        <div class="col-md-2 col-sm-3 col-3">
          <div class="img-fluid">
            <img src="/images/125.png" alt="image not found" class="img-thumbnail" />
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <p class="smll">
            Round the clock high speed Wi-Fi access and advanced computer labs
            for greater digital connectivity
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  new WOW().init()
</script>