<style>
  .sec-2 {
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 10px 150px;
    margin-top: 40px;
  }

  .sec-2__p {
    width: 75%;
    text-align: justify;
    margin: 0 auto;
  }

  .principal-img {
    height: 14rem;
    width: 11rem;
    border-radius: 25%;
    box-sizing: border-box;
    box-shadow: 2px 9px 9px #aaa;
  }

  .principal-msg {
    text-align: justify;
    word-spacing: 3px;
    font-size: 18px;
    color: #666;
  }

  .des {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .mob {
      display: none;
    }

    .des {
      display: block;
      text-align: center;
    }

    .principal-msg {
      word-spacing: 1px;
      margin: 20px 0 0;
      font-size: 18px;
    }

    .sec-2 {
      padding: 10px;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="des" style="color: #666">
      <h1><b>Officer on Special Duty's Desk</b></h1>
      <h4>Prof. (Dr.) Prashanta Kumar Patra</h4>
      <br />
    </div>
    <div class="col-md-3">
      <img
        src="/images/principal-removebg1.png"
        alt="principal cet bbsr"
        class="img-fluid principal-img mx-auto d-block"
      />
    </div>
    <div class="col-md-9">
      <div class="mob" style="color: #666">
        <h1><b>Officer on Special Duty's Desk</b></h1>
        <h4>Prof. (Dr.) Prashanta Kumar Patra</h4>
        <br />
      </div>
      <p class="principal-msg">
        On behalf of the entire <b>Odisha University of Technology and Research (OUTR)</b> fraternity, it is my pleasure to cordially
        welcome you all to our magnificently beautiful campus. This institute
        has been well recognized for its technical excellence for decades, and
        we strive hard to maintain our high standards. It is a matter of great
        pride and honor for me as OUTR has made a significant and extraordinary
        image as a Technical Institution. The University is well known to grant
        entrance to the best of talented minds through the JEE, conducted by the
        Government of India, be it in Engineering, Archi­tecture or MCA. The
        techniques, skills, and optimistic problem-solving mindset that the
        students imbibe here to empower them to work in the global environment.
        Whether you have regularly recruited our graduates and postgraduates or
        you are visiting us for the first time, I am sure you will find our
        students competent, capable, and trustworthy enough to visit us again in
        the future. We look forward to a healthy and enduring relation­ship.
      </p>
    </div>
  </div>
</div>
