<style>
  .sec-4 {
    background-position: center;
    background-size: cover;
    height: auto;
    margin: 2em 0 4em;
  }
  .sec-4__p {
    width: 75%;
    text-align: justify;
    margin: 0 auto;
  }
  .principal-img1 {
    height: 13rem;
    width: 10rem;
    border-radius: 25%;
    box-sizing: border-box;
    box-shadow: 2px 6px 9px #aaa;
  }
  .principal-msg {
    text-align: justify;
    word-spacing: 3px;
    font-size: 18px;
    color: #666;
  }
  .des1 {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .mob1 {
      display: none;
    }
    .des1 {
      display: block;
      text-align: center;
      margin-left: 3.5rem;
    }
    .principal-msg {
      word-spacing: 1px;
      margin: 20px 0 0;
      font-size: 18px;
    }
    .sec-2 {
      padding: 10px;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="des1" style="color: #666;">
      <h1><b>TPO Message</b></h1>
      <br />
    </div>
    <div class="col-md-3">
      <img src="/images/" class="img-fluid principal-img1 mx-auto d-block" />
    </div>
    <div class="col-md-9">
      <div class="mob1" style="color: #666;">
        <h1><b>TPO Message</b></h1>
        <br />
      </div>
      <p class="principal-msg">
        The world is evolving at a very fast pace. The current scenario demands
        the ability to learn, unlearn, and relearn things. CET always abides by
        its mission to produce professionally competent engineers adaptable to
        ever-changing demands of the industry. The prime strengths of the
        institute are the highly competent students, dedicated and
        research-oriented faculty, staff, and state-of-the-art infrastructure.
        Our proud alumni have carved out a niche for themselves as assets to
        their organisations and it had positive impressions on placement
        statistics. The placements for the year 2019-2020 have exceeded our
        expectations, as the T&P Cell has managed to extend various
        opportunities to students. Our institute is well equipped for
        online-based placement/internship drives with proctored tests and
        interviews over video conference. Hence, COVID 19 situation won't have a
        detrimental effect on the smooth conduct of drives. So, we encourage all
        private and government sector companies to participate in the
        recruitment process and we are sure that the students recruited will
        play a pivotal role in the growth of the respective organisations.
      </p>
    </div>
  </div>
</div>
