<style>
  header .item {
    height: 90vh;
    position: relative;
  }

  header .item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  header .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }

  header .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
  }

  header .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  }

  header .item .cover .header-content h2 {
    font-weight: 600;
    font-size: 40px;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
  }

  header .item .cover .header-content h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
  }

  header .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
  }

  header .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
  }

  header .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
  }

  header .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
  }

  header .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
    /* object-fit: cover; */
  }

  header .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }

  header .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
  }

  header .owl-nav .owl-prev:focus {
    outline: 0;
  }

  header .owl-nav .owl-prev:hover {
    background: #000 !important;
  }

  header .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }

  header .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
  }

  header .owl-nav .owl-next:focus {
    outline: 0;
  }

  header .owl-nav .owl-next:hover {
    background: #000 !important;
  }

  header:hover .owl-prev {
    left: 0px;
    opacity: 1;
  }

  header:hover .owl-next {
    right: 0px;
    opacity: 1;
  }

  @media (max-width: 800px) {
    header .item .cover .header-content h1 {
      font-size: 40px;
    }

    header .item .cover .header-content h2 {
      font-size: 36px;
    }

    header .item .cover .header-content h4 {
      font-size: 20px;
      line-height: 30px;
    }
  }
</style>
<header>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="images/outrGate.jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h2><b>Welcome to Training and Placement Cell</b></h2>
            <h4>Odisha University of Technology and Research, Bhubaneswar</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/CETB_Main_Office_Building.jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>Progressive Infrastructure</h1>
            <h4>Facilitating all round development of every student</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/image (7).jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>Experienced Faculty</h1>
            <h4>
              Graduating from various national and state level universities
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/image (13).jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>State-of-the-art Labs</h1>
            <h4>
              That solidify a student's theoretical knowledge with practice
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/image.jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>Variety of Disciplines</h1>
            <h4>Neck to neck with each other in alumni achievements</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/image (6).jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>Diverse Student Body</h1>
            <h4>
              That asserts a sense of community and belonging with a common
              purpose
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/image (2).jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>Centre of Excellence</h1>
            <h4>
              For Artifical Intelligence in Odisha under MOU with Tech Mahindra
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slider/image (3).jpg" alt="images not found" />
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line animated bounceInLeft"></div>
            <h1>Excellent Student Fraternity</h1>
            <h4>
              That dominates in both technical competitions and sports
              everywhere
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $(".owl-carousel").owlCarousel({
    loop: true,
    dots: false,
    nav: true,
    mouseDrag: false,
    autoplay: true,
    rewind: true,
    lazyLoad: false,
    autoplayHoverPause: false,
    animateOut: "slideOutLeft",
    responsive: {
      0: {
        items: 1,
      },
      600: {
        items: 1,
      },
      1000: {
        items: 1,
      },
    },
  });
</script>