
<style>
    .sec-2 {
    /* background:rgba(255,255,255, 0.9); */
   
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 10px;
    margin-top: 40px;
   
}
.box{
    border-style: solid ;
    border-radius:20px;
    border-color: #000;
    margin: 0 2rem;
    background: radial-gradient(circle, rgba(211,211,211,1) 40%, rgba(255,255,255,1) 100%);
    padding:20px;
}
.sec-2__p {
    width: 75%; 
    text-align: justify; 
    margin: 0 auto;
    color: #000;
}
hr{
    width: 70vw;
}
.principal-img{
    height: auto;
    width: 14rem;
    border-radius: 15px;
    border-radius:10%;
}
.principal-msg{
    text-align: justify;
    word-spacing: 5px;
    font-size :20px;
    margin-right: 20px;
    margin-left: 20px;
}
@media only screen and (max-width: 768px) {
    .principal-msg {
        word-spacing: 1px;
    }
}
  
</style>
    <div class="box">
    <center><h1><b>Dr. Saroj Kumar Pradhan</b></h1><h4>Training and Placement Officer<br>CET Bhubaneswar
        </h4></center> <hr>
  <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
        <img src="/images/principal-removebg-preview.png" class="img-fluid  principal-img mx-auto d-block">
    </div>
    <div class="col-md-9">
        <p class="principal-msg">
            The world is evolving at a very fast pace. The current scenario demands the ability to learn, unlearn and relearn things. It has always remained a challenge for academia to produce industry-ready people. College of Engineering and Technology always abides by its mission to produce professionally competent engineers by providing value-based and quality education to students and to make them adaptable to ever-changing demands and requirements of the industry. The prime strengths of the institute are the highly competent students, dedicated and research-oriented faculty, staff and the state of the art infrastructure. Our proud alumni have carved out a niche for themselves as assets to their organisations. This fact is reinforced by an enthusiastic response from the corporate world in the form of placements.To add more to the subject, the placements for the year 2019-2020 has exceeded our expectations, as the Training and Placement Cell has managed to extend various opportunities to students. This year the highest number of job offers has been recorded. Analog Devices, Deloitte, Vedanta, Accenture, Tata Steel, TCS, Factset, Maruti Suzuki India Limited, Red Hat, Infosys, Macleods are a few of the prestigious companies where our talented students have been placed.We have always fulfilled the expectations of our past recruiters and hope to give our best this year also. We encourage all private and government sector companies to participate in the recruitment process and we are sure that the students recruited will play a pivotal role in the growth of the respective organisations.
        </p>
        </div>
  </div>
</div>
