<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Training and Placement Cell, Odisha University of Technology and Research, Bhubaneshwar."
    />
    <meta
      name="keywords"
      content="OUTR Bhubaneshwar Placement Website, OUTR Placement Website, Odisha University of Technology and Research, Bhubaneshwar"
    />
    <meta name="owner" content="OUTR Bhubaneshwar" />
    <meta name="author" content="OUTR Bhubaneshwar" />
    <meta name="generator" content="cet.edu.in" />
    <meta name="msapplication-config" content="none" />

    <meta
      property="og:title"
      content="The Official Placement Website of OUTR, Bhubaneshwar"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://placement.outr.ac.in/about" />
    <meta
      property="og:image"
      content="http://placement.outr.ac.in/images/cet.png"
    />
    <meta property="og:site_name" content="OUTR Bhubaneshwar" />
    <meta
      property="og:description"
      content="Training and Placement Cell, Odisha University of Technology and Research, Bhubaneshwar."
    />

    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"
    />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <link rel="shortcut icon" href="images/cet.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/home.css" />
    <title>About Us</title>
    <style>
      html,
      body {
        background-color: #fcfcfc;
        color: #444;
      }

      b {
        font-size: large;
        /* font-weight: 300; */
      }

      p {
        font-size: 1.1em;
      }

      .sc {
        width: 75%;
      }

      .center,
      .center2,
      .center3 {
        border: none;
      }

      .quote {
        text-align: center;
        font-size: 1.2rem;
        margin: auto;
        color: #333;
        padding: 15px;
        max-width: 100%;
        position: relative;
      }

      blockquote {
        position: relative;
        z-index: 20;
      }

      .quote .left {
        position: absolute;
        top: -65px;
        left: -40px;
        width: 150px;
        text-align: left;
        font-size: 5rem;
        color: #336699;
        background-color: #fcfcfd;
        line-height: 200px;
      }

      .quote .right {
        position: absolute;
        bottom: -65px;
        right: -40px;
        width: 150px;
        text-align: right;
        font-size: 5rem;
        color: #336699;
        background-color: #fcfcfd;
        line-height: 200px;
      }

      @media (max-width: 768px) {
        .main_sec {
          height: auto;
        }

        .col-md-9 {
          text-align: center;
        }

        .center {
          margin-left: 80px;
          margin-bottom: 10px;
          border: none;
        }

        .center2 {
          margin-left: 100px;
          margin-bottom: 10px;
          border: none;
        }

        .center3 {
          width: 50%;
          margin-left: 100px;
          margin-bottom: 10px;
          border: none;
        }

        blockquote {
          font-size: 1rem;
        }

        .quote .right {
          margin-right: 24px;
          bottom: -95px;
        }
      }
    </style>
  </head>

  <body>
    <%- include('../partials/navbar') %>

    <div class="container">
      <br /><br />
      <div class="row">
        <div class="col-md-12">
          <div class="quote">
            <span class="left">❝</span>
            <blockquote>
              Odisha University of Technology and Research, Bhubaneswar formerly
              known as the College of Engineering and Technology was founded in
              1981 as a constituent college of the Odisha University of
              Agricultural Technology to serve the technical human resources of
              the state with a 120 in each Electrical Engineering, Civil
              Engineering, and Mechanical Engineering. Additional UG and PG
              programs were introduced in response to the state’s growing need
              for technical talent. OUTR presently offers 9 distinct B.Tech
              programs, 22 M.Tech and PG programs, including Int. M.Sc., MSc,
              MCA, B.Arch, M.Arch, B.Plan, and M.Plan. The institute earned a
              designation of the university in 2021 to facilitate research and
              higher studies by enacting the Odisha University of Technology and
              Research Bill, 2021.
            </blockquote>
            <span class="right">❞</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main_sec sec-3"><%- include('branchdep') %></div>

    <div class="main_sec sec-4" style="padding: 2em 0; height: auto">
      <%- include('homesec5') %>
    </div>
    <br />

    <div class="container" style="margin-bottom: 1em">
      <center>
        <h1 style="font-weight: bolder; color: #666; margin-top: 1em">
          Student Chapters
        </h1>
      </center>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img src="images/asme.png" alt="" class="img-thumbnail center3" />
          </div>
        </div>
        <div class="col-md-9">
          <h4>
            <b>
              Collegiate Chapter of American Society of Mechanical Engineers,
              USA</b
            >
          </h4>
          <p>
            Established in 2014; promotes the engineering ingenuity and
            encourages application through its international level competitions
            and expositions.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img src="images/sae1.png" alt="" class="img-thumbnail center" />
          </div>
        </div>
        <div class="col-md-9">
          <h4>
            <b> Collegiate Chapter of Society of Automotive Engineers, USA </b>
          </h4>
          <p>
            Established in 2014; provides the necessary base to hone the skills
            of automotive applications through its international level
            competitions - SAE BAJA & SAE SUPRA.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img src="images/iste.png" alt="" class="img-thumbnail center2" />
          </div>
        </div>
        <div class="col-md-9">
          <h4>
            <b>
              Collegiate Chapter of Indian Society for Technical Education, USA
            </b>
          </h4>
          <p>
            Established in 2014; infuses the engineering ingenuity and
            encourages application through its national level competitions,
            seminars and workshops.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img src="images/almuni.png" alt="" class="img-thumbnail center2" />
          </div>
        </div>
        <div class="col-md-9">
          <h4><b> The Alumni Chapter of OUTR </b></h4>
          <p>
            A strong and growing network. It keeps the Company-Institution
            relationship going and helps both grow in collaboration with each
            other.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img src="images/NSS.jpg" alt="" class="img-thumbnail center3" />
          </div>
        </div>
        <div class="col-md-9">
          <h4><b> National Service Scheme </b></h4>
          <p>Established in 2014; serves a duty towards the society.</p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img
              src="images/codechef.svg"
              alt=""
              class="img-thumbnail center3"
            />
          </div>
        </div>
        <div class="col-md-9">
          <h4>
            <b>Codechef Student Chapter</b>
          </h4>
          <p>
            The mission of CodeChef Student Chapter is to build a robust
            Competitive Programming culture in educational institutions.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-fluid sc">
            <img src="images/EWB.jpg" alt="" class="img-thumbnail center3" />
          </div>
        </div>
        <div class="col-md-9">
          <h4>
            <b>Engineer Without Borders Chapter</b>
          </h4>
          <p>
            The chapter is generally centred around a learning institution, an
            organisation or a geographic area, and extends EWB's presence beyond
            the staff team.
          </p>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <script>
      $(document).ready(function () {
        $("#myCarousel").on("slide.bs.carousel", function (e) {
          var $e = $(e.relatedTarget);
          var idx = $e.index();
          var itemsPerSlide = 3;
          var totalItems = $(".carousel-item").length;

          if (idx >= totalItems - (itemsPerSlide - 1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i = 0; i < it; i++) {
              // append slides to end
              if (e.direction == "left") {
                $(".carousel-item").eq(i).appendTo(".carousel-inner");
              } else {
                $(".carousel-item")
                  .eq(0)
                  .appendTo($(this).find(".carousel-inner"));
              }
            }
          }
        });
      });
    </script>
  </body>
</html>
