<style>

.sec-4 {
  background-image: linear-gradient(129deg, rgba(126,255,245,.7) 0%, rgba(58,227,116,.9) 89%), url(images/CETB_Communication_Systems_and_Signal_Processing_Laboratory.jpg);
  background-size: cover;
  background-position:center;
  background-position: center;
  background-size: cover; 
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
}

@media (max-width: 768px) {
  .card {
    border-radius: 1.25em;
  }
  .card-img-top {
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    width: 800px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-control-prev {
    left: -120px;
  }

  .carousel-control-next {
    right: -120px;
  }

  .card {
    border-radius: 1.25em;
  }
  .card-img-top {
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    width: 800px;
    height: 300px;
  }

  .card-title {
    text-align: center;
    font-weight: 600;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

</style>

  <div class="container">
    <h1 class="text-center mb-3">Students Activities</h1><hr>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/zairza-logo.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">ZAIRZA</h4>
              <p class="card-text">Established in 2007, it is the technical club promoting Robotics and Software.	</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/ed.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">ED CELL</h4>
              <p class="card-text">Established in 2012 to rekindle and revitalize the spirit of Entrepreneurship...</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/ceta.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">CETADEL</h4>
              <p class="card-text"> Established in 2015 to motivate the literary prowess of future technocrats.	</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/energy.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">ENERGY CLUB</h4>
              <p class="card-text"> Established in 2011 promotes green energy and projects for sustainable development.	</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/spectrum.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">SPECTRUM</h4>
              <p class="card-text">Established in 2014, deals with electronic projects and instrumentation conversions.	</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/nukkad.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">NUKKAD</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/biozo.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">BIOZO</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="images/pf.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">CET PHOTOFACTORY</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
